{% extends 'base.html.twig' %}

{% block title %}Shop - symphony{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="text-light text-center font-weight-bold">Anything for your thirst and hunger !</h1>
    <h2 class="text-light text-center">Everything you want, from the shake to the burger.</h2>
</div>
<div class="container py-3">
    <h2 class="text-warning w-100 text-center font-weight-bold">Food</h2>
</div>
<div class="container-fluid d-flex flex-wrap justify-content-around">
    {% for snack in foodsSnack %}
        <div class="card mt-4" style="max-width: 30vw;">
            <div class="card-header text-center">{{ snack.title }}</div>
            <div class="card-body text-center">
                <p class="card-text text-right font-weight-bold">{{ snack.price }} €</p>      
                <p class="card-text py-2">{{ snack.description }}</p>
                <img src="{{ snack.image }}" alt="snack representation">
            </div>
        </div>
    {% endfor %}
</div>
<hr class="bg-dark my-4">
<div class="container py-3">
    <h2 class="text-warning w-100 text-center font-weight-bold">Drinks</h2>
</div>
<div class="container-fluid d-flex flex-wrap justify-content-around">
    {% for soda in drinksSoda %}
        <div class="card mt-4" style="max-width: 30vw;">
            <div class="card-header text-center">{{ soda.title }}</div>
            <div class="card-body text-center">
                <img src="{{ soda.image }}" alt="soda representation">
                <p class="card-text py-3">{{ soda.description }}</p>
                <p class="card-text text-right font-weight-bold">{{ soda.price }} €</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
